#banner-container {
    position: absolute;
    top: 308px;
    left: 75px;
    transform: translate(-50%, -50%);
}

div {
    position: absolute;
    top: 308px;
    left: 75px;
    transform: translate(-50%, -50%);
    width: 1;
    height: 1
}

body {
    overflow: hidden
}
